# ==========================
# Node
# ==========================
node_modules/
dist/
dist-ssr/
.vite/

# ==========================
# Python
# ==========================
.venv/
venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db